.art-wall_top h1 {
  margin-top: 135px;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 50px;
  color: #ffffff; }
.art-wall_top_button {
  width: 260px;
  padding-top: 2px;
  display: inline-block;
  background-color: transparent;
  color: #ffffff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  text-decoration: none;
  transition: all 0.2s;
  font-size: 21px;
  letter-spacing: 2px;
  line-height: 32px;
  border: 2px solid #fafafa;
  margin-top: 54px;
  margin-right: 55px; }
  .art-wall_top_button:last-child {
    margin-right: 0; }
  .art-wall_top_button_span {
    color: #ffc608;
    font-weight: 700; }
  .art-wall_top_button:hover {
    text-decoration: none;
    color: #bb8f00;
    border: 2px solid #bb8f00; }

.art-wall_top_imgs {
  margin-top: -275px; }
  .art-wall_top_imgs_row {
    display: flex; }
    .art-wall_top_imgs_row_item_text {
      margin-top: -52px;
      pointer-events: none;
      background-color: #000000;
      opacity: 0.5;
      filter: alpha(Opacity=50); }
      .art-wall_top_imgs_row_item_text p {
        margin: 0;
        padding: 0 0 0 10px; }
        .art-wall_top_imgs_row_item_text p:first-child {
          font-size: 17px;
          font-weight: 700;
          letter-spacing: 0;
          line-height: 21px;
          color: #ffffff;
          padding-top: 7px; }
        .art-wall_top_imgs_row_item_text p:last-child {
          font-size: 12px;
          letter-spacing: 0;
          line-height: 15px;
          color: #ffffff;
          padding-bottom: 10px; }

.art-wall_menu {
  position: relative;
  height: 95px;
  list-style: none;
  display: flex;
  margin-bottom: 1px;
  padding: 0; }
  .art-wall_menu_bg {
    background-color: #262626;
    border-bottom: 2px solid #ffc608; }
  .art-wall_menu li {
    margin-right: 14px;
    position: relative; }
    .art-wall_menu li a {
      display: block;
      height: 95px;
      text-transform: uppercase;
      color: #ffffff;
      text-decoration: none;
      font-weight: 700;
      font-size: 17px;
      letter-spacing: 0;
      line-height: 21px;
      padding-top: 38px;
      padding-left: 20px;
      padding-right: 20px; }
      .art-wall_menu li a:hover {
        text-decoration: none;
        background-color: #000000;
        color: #d9d9d9; }

.art-wall-firstbox {
  padding-left: 50px;
  padding-top: 60px;
  height: 785px;
  background-image: url("../img/art-wall/art-wall-firstBox-bg.jpg");
  background-position: center;
  background-repeat: no-repeat; }
  .art-wall-firstbox .first {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 27px;
    color: #fec608; }
  .art-wall-firstbox .second {
    margin-top: 40px;
    font-size: 45px;
    letter-spacing: 1px;
    line-height: 54px;
    color: #ffffff; }
  .art-wall-firstbox .third {
    font-size: 23px;
    letter-spacing: 0;
    line-height: 29px;
    color: #acacac; }

.art-wall-firstbox-item-title, .art-wall-secondbox-item-title {
  margin-bottom: 55px; }
  .art-wall-firstbox-item-title p, .art-wall-secondbox-item-title p {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 50px;
    color: #fec608;
    border: 3px solid #ffc608;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 20px 100px; }

.art-wall-firstbox-button {
  padding: 10px 15px;
  display: inline-block;
  background-color: #fec608;
  color: #000000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-decoration: none;
  transition: all 0.2s;
  font-size: 27px;
  letter-spacing: 1px;
  line-height: 32px;
  border: 1px solid #464646;
  font-weight: 700;
  margin-top: 82px; }
  .art-wall-firstbox-button:hover {
    text-decoration: none;
    color: #333333;
    border: 1px solid #fec608; }

.art-wall-secondbox-item-title p {
  color: #000000;
  border: 3px solid #ffc608;
  background-color: #ffc608; }

.art-wall-firstbox-items {
  display: flex; }
  .art-wall-firstbox-items-first, .art-wall-firstbox-items-second {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    height: 610px;
    background-color: #464646;
    margin-top: -64px;
    margin-right: 50px; }
    .art-wall-firstbox-items-first-row, .art-wall-firstbox-items-second-row {
      margin-top: 37px;
      display: flex;
      width: 400px; }
      .art-wall-firstbox-items-first-row-img, .art-wall-firstbox-items-second-row-img {
        width: 65px;
        height: 65px;
        overflow: hidden;
        background: #646564;
        margin-top: 8px;
        margin-left: 25px;
        padding-top: 7px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%; }
      .art-wall-firstbox-items-first-row p, .art-wall-firstbox-items-second-row p {
        text-align: left; }
        .art-wall-firstbox-items-first-row p:first-child, .art-wall-firstbox-items-second-row p:first-child {
          font-size: 23px;
          letter-spacing: 0;
          line-height: 27px;
          color: #fec608;
          margin-left: 15px; }
        .art-wall-firstbox-items-first-row p:last-child, .art-wall-firstbox-items-second-row p:last-child {
          margin: -10px;
          font-size: 17px;
          letter-spacing: 0;
          line-height: 25px;
          color: #acacac;
          margin-left: 15px; }

.art-wall-secondBox {
  padding: 10px 20px 6px 50px;
  background-color: #262626; }
  .art-wall-secondBox h2 {
    font-size: 45px;
    letter-spacing: 1px;
    line-height: 54px;
    color: #ffffff; }
  .art-wall-secondBox p {
    padding-top: 4px;
    font-size: 21px;
    letter-spacing: 0;
    line-height: 29px;
    color: #acacac; }
  .art-wall-secondBox-txtSecond p {
    font-size: 27px;
    letter-spacing: 1px;
    line-height: 33px;
    color: #fec608; }

.art-wall-secondBox-img {
  background-color: #000000;
  padding: 20px; }

.art-wall-midImg {
  margin: 30px; }
  .art-wall-midImg img {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px; }

.art-wall-thirdBox {
  padding: 60px 10px 70px 20px;
  background-color: #000000; }
  .art-wall-thirdBox img {
    height: 650px;
    width: 360px; }
  .art-wall-thirdBox p {
    margin-left: 30px;
    padding-right: 10px; }
    .art-wall-thirdBox p:first-child {
      margin-top: 14px;
      font-size: 42px;
      letter-spacing: 1px;
      line-height: 29px;
      color: #ffffff; }
    .art-wall-thirdBox p:nth-child(2) {
      margin-top: 40px;
      font-size: 71px;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 50px;
      color: #fec608; }
    .art-wall-thirdBox p:nth-child(3) {
      margin-top: 35px;
      width: 467px;
      height: 400px;
      font-size: 21px;
      letter-spacing: 0;
      line-height: 29px;
      color: #acacac; }
  .art-wall-thirdBox a {
    margin-left: 35px;
    font-size: 27px;
    letter-spacing: 1px;
    line-height: 32px;
    color: #000000; }

.art-wall-thirdBox-button {
  padding: 11px 15px;
  display: inline-block;
  background-color: #fec608;
  color: #000000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-decoration: none;
  transition: all 0.2s;
  font-size: 27px;
  letter-spacing: 1px;
  line-height: 32px;
  border: 1px solid #464646;
  margin-top: 10px; }
  .art-wall-thirdBox-button:hover {
    text-decoration: none;
    color: #333333;
    border: 1px solid #fec608; }

.art-wall-forthBox {
  padding-top: 130px;
  padding-bottom: 120px;
  background-color: #1d1d1d; }
  .art-wall-forthBox p {
    padding-left: 30px; }
    .art-wall-forthBox p:first-child {
      padding-top: 35px;
      font-weight: 700;
      font-size: 56px;
      letter-spacing: 1px;
      line-height: 63px;
      color: #fec608; }
    .art-wall-forthBox p:nth-child(2) {
      width: 561px;
      font-size: 21px;
      letter-spacing: 0;
      line-height: 29px;
      color: #646564; }
  .art-wall-forthBox-img {
    padding-left: 30px; }

.art-wall-subscribe {
  padding-left: 30px;
  height: 598px;
  background-image: url("../img/art-wall/art-wall-bottom-bg.jpg");
  background-position: center;
  background-repeat: no-repeat; }
  .art-wall-subscribe p:first-child {
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 63px;
    color: #fec608; }
  .art-wall-subscribe p:last-child {
    width: 778px;
    font-size: 21px;
    letter-spacing: 0;
    line-height: 29px;
    color: #646564; }
  .art-wall-subscribe input {
    background-color: #1d1d1d;
    color: #ffffff;
    padding-left: 20px;
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: -5px;
    width: 490px;
    border: 1px solid #ffffff;
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 35px; }
  .art-wall-subscribe_btn {
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 60px;
    padding-left: 60px;
    display: inline-block;
    background-color: #fec608;
    color: #000000;
    text-decoration: none;
    transition: all 0.2s;
    border: 1px solid #fec608;
    font-size: 38px;
    letter-spacing: 1px;
    line-height: 42px; }
    .art-wall-subscribe_btn:hover {
      text-decoration: none;
      background-color: #fecc21;
      color: #333333;
      border: 1px solid #ffffff; }

/*# sourceMappingURL=art_wall.css.map */
