@charset "UTF-8";
@font-face {
  font-family: "HelveticaNeueLT Std";
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Bd.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family: "HelveticaNeueLT Std";
  src: url("../fonts/HelveticaNeueLTStd-It.eot");
  src: url("../fonts/HelveticaNeueLTStd-It.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-It.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-It.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-It.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-It.svg#HelveticaNeueLTStd-It") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family: "HelveticaNeueLT Std";
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
.center {
  text-align: center;
}

body {
  background-color: #fafafa !important;
  margin: 0;
  font-family: "HelveticaNeueLT Std", "Helvetica Neue", Helvetica !important;
  max-width: 1920px;
}

.masthead {
  height: 100vh;
  min-height: 700px;
  background-image: url("../img/header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  padding-top: 115px;
}

.top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -17px;
}
.top-right img {
  height: 45px;
  margin: 0 20px;
}
.top-right p {
  color: #ffffff;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 2px;
  line-height: 25px;
}
.top-right-mail {
  color: #626262;
  font-weight: 400;
}

.top-nav {
  font-size: 14px;
  position: relative;
}
.top-nav-logo {
  padding-left: 45px;
}
.top-nav ul {
  margin-bottom: 0;
}
.top-nav_btn {
  display: none;
  font-size: 20px;
  width: 52px;
  height: 29px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 15px;
  top: -245px;
}
.top-nav_btn img:hover {
  cursor: pointer;
}
.top-nav_menu, .top-nav_menu_shell {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}
.top-nav_menu li, .top-nav_menu_shell li {
  margin-right: 14px;
  position: relative;
  width: 97px;
}
.top-nav_menu li p, .top-nav_menu_shell li p {
  font-size: 13px;
  color: #626262;
  letter-spacing: 1px;
  line-height: 25px;
  margin-bottom: 0;
}
.top-nav_menu li a, .top-nav_menu_shell li a {
  text-transform: uppercase;
  color: #ffc608;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 700;
}
.top-nav_menu li a::after, .top-nav_menu_shell li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffc608;
  -webkit-transform: translateY(5px) scale(0);
          transform: translateY(5px) scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.top-nav_menu li a:hover, .top-nav_menu_shell li a:hover {
  text-decoration: none;
  color: #bb8f00;
}
.top-nav_menu li a:hover::after, .top-nav_menu_shell li a:hover::after {
  -webkit-transform: translateY(25px) scale(1);
          transform: translateY(25px) scale(1);
}

.top-nav_menu_shell {
  margin-top: -3px;
}
.top-nav_menu_shell li::after {
  position: absolute;
  content: "";
  display: block;
  height: 20px;
  border-left: 2px solid #ffffff;
  right: -8px;
  bottom: 15px;
}

.top-nav_menu_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}
.top-nav_menu_right li {
  margin-right: 20px;
}
.top-nav_menu_right li:last-child {
  margin: 0;
}
.top-nav_menu_right li::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.top-nav_menu_right li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffc608;
  -webkit-transform: translateY(5px) scale(0);
          transform: translateY(5px) scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.top-nav_menu_right li a:hover {
  text-decoration: none;
  color: #bb8f00;
}
.top-nav_menu_right li a:hover::after {
  -webkit-transform: translateY(10px) scale(1);
          transform: translateY(10px) scale(1);
}

.welcome {
  color: #ffffff;
  font-size: 23px;
  letter-spacing: 2px;
  line-height: 95px;
  margin-top: 65px;
}
.welcome_label {
  color: #ffffff;
  font-size: 53px;
  letter-spacing: 1px;
  line-height: 58px;
  margin-top: -28px;
  margin-bottom: 2px;
  font-weight: 800;
}
.welcome_label_low {
  color: #ffffff;
  font-size: 23px;
  letter-spacing: 2px;
  line-height: 65px;
}

.line {
  width: 100%;
  background-color: #ffffff;
  border: none;
  margin-top: 40px;
  margin-bottom: 15px;
  height: 1px;
}

.button {
  padding: 4px 38px;
  display: inline-block;
  background-color: #fafafa;
  color: #000000;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 17px;
  letter-spacing: 2px;
  line-height: 25px;
  border: 3px solid #fafafa;
  font-weight: 700;
  margin-top: 14px;
}
.button:hover {
  text-decoration: none;
  color: #333333;
  border: 2px solid #464646;
}

.search {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  background-color: transparent;
  font-size: 17px;
  letter-spacing: 2px;
  line-height: 25px;
  color: #ffffff;
  padding-left: 15px;
  border: 1px solid #fafafa;
}

input {
  outline: 0;
}

input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}

input[type="search"]::-ms-input-placeholder {
  color: #ffffff;
}

input[type="search"]::placeholder {
  color: #ffffff;
}

input[type="email"]::-webkit-input-placeholder {
  color: #464646;
}

input[type="email"]:-ms-input-placeholder {
  color: #464646;
}

input[type="email"]::-ms-input-placeholder {
  color: #464646;
}

input[type="email"]::placeholder {
  color: #464646;
}

.aboutText {
  width: 954px;
  height: 39px;
}

.frontbar {
  height: 360px;
  margin-top: -132px;
}
.frontbar_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}
.frontbar_menu li {
  background-color: #ffffff;
  height: 287px;
  width: 356px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 34px;
}
.frontbar_menu li:first-child {
  border-radius: 25px 0 0 25px;
  border-left: 1px solid #d0ced1;
  border-top: 1px solid #d0ced1;
  border-bottom: 1px solid #d0ced1;
}
.frontbar_menu li:nth-child(2) {
  border-top: 1px solid #d0ced1;
  border-bottom: 1px solid #d0ced1;
}
.frontbar_menu li:nth-child(2)::after {
  position: relative;
  content: "";
  display: block;
  height: 115px;
  border-left: 1px solid #006400;
  border-right: 1px solid #006400;
  bottom: 175px;
}
.frontbar_menu li:last-child {
  border-right: 1px solid #d0ced1;
  border-top: 1px solid #d0ced1;
  border-bottom: 1px solid #d0ced1;
  border-radius: 0 25px 25px 0;
}
.frontbar_menu li:hover {
  background-color: #ffc608;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-box-shadow: 0 0 25px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 25px 30px rgba(0, 0, 0, 0.25);
  height: 355px;
  margin-top: 0;
}
.frontbar_menu li:hover p {
  margin-top: -15px;
}
.frontbar_menu li:hover img {
  margin-top: 85px;
}
.frontbar_menu li:hover a {
  background-color: #ffffff;
  color: #000000;
  margin-top: 37px;
}
.frontbar_menu li:hover:nth-child(2)::after {
  display: none;
}
.frontbar_menu li a {
  background-color: #ffc608;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  color: #ffffff;
  display: block;
  padding: 5px 0;
  margin: 37px 70px 20px 70px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 25px;
  font-weight: 700;
}
.frontbar_menu li a:hover {
  text-decoration: none;
  color: #333333;
  border: 1px solid #464646;
}
.frontbar_menu li p {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 21px;
  color: #626262;
  margin-top: -15px;
}
.frontbar_menu img {
  height: 100px;
  margin-top: 50px;
}

.first-box {
  margin-top: 125px;
}
.first-box h2 {
  font-size: 53px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 58px;
  color: #000000;
}
.first-box_about {
  font-size: 21px;
  letter-spacing: 2px;
  line-height: 29px;
  color: #464646;
  margin-top: 27px;
}
.first-box_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 68px;
}
.first-box_items p {
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 23px;
  color: #000000;
  margin-right: 200px;
}
.first-box_items p:last-child {
  margin-right: 0;
}
.first-box_points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 9px;
}
.first-box_points div {
  height: 34px;
  width: 34px;
  margin-right: 275px;
  background: radial-gradient(circle closest-side, #464646 8px, #fafafa 8px);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border: 2px solid #464646;
}
.first-box_points div:nth-child(2) {
  background: radial-gradient(circle closest-side, #ffc608 8px, #fafafa 8px);
}
.first-box_points div:last-child {
  margin-right: 0;
}
.first-box_line {
  width: 605px;
  background-color: #464646;
  border: none;
  margin-top: -18px;
  height: 2px;
  position: relative;
  z-index: -100;
}
.first-box_text {
  margin-top: 65px;
}
.first-box_text p {
  width: 660px;
  font-size: 21px;
  letter-spacing: 2px;
  line-height: 29px;
  color: #464646;
  padding-left: 25px;
}
.first-box_image {
  margin-top: 150px;
}
.first-box_image img {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-box-shadow: 0 0 25px 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 25px 30px rgba(0, 0, 0, 0.25);
}
.first-box_image img:nth-child(2) {
  margin-top: -175px;
  margin-left: -355px;
}
.first-box_image img:last-child {
  margin-top: -60px;
  margin-left: -345px;
}

.second-box {
  margin-top: 120px;
  height: 234px;
  background-image: url("../img/SecondBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #d7d7d7;
}
.second-box h2 {
  font-size: 53px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 58px;
  color: #000000;
  padding-top: 20px;
}
.second-box_about {
  font-size: 21px;
  letter-spacing: 2px;
  line-height: 29px;
  color: #464646;
  margin-top: 15px;
}
.second-box_menu {
  background-color: #d0ced1;
}
.second-box_bg {
  background-color: #d7d7d7;
}
.second-box_menu {
  position: relative;
  height: 86px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1px;
  padding: 0;
}
.second-box_menu li {
  position: relative;
  width: 159px;
}
.second-box_menu li a {
  display: block;
  height: 85px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 21px;
  font-weight: 700;
  padding-top: 32px;
}
.second-box_menu li a:hover {
  background-color: #ffc608;
  text-decoration: none;
  text-shadow: 1px 1px 2px #ffffff;
  border: 2px solid #d8d8d8;
}
.second-box_image {
  background-position: center;
  background-repeat: no-repeat;
  height: 438px;
}

.subscribe {
  background-color: #d7d7d7;
}
.subscribe h2 {
  text-transform: uppercase;
  font-size: 53px;
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 58px;
  color: #000000;
  padding-top: 80px;
}
.subscribe_about {
  font-size: 21px;
  letter-spacing: 2px;
  line-height: 29px;
  color: #464646;
  margin-top: 18px;
}
.subscribe_box {
  padding-top: 20px;
  background-color: #d7d7d7;
}
.subscribe_box_btn {
  padding: 20px 55px;
  display: inline-block;
  background-color: #464646;
  color: #ffffff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 23px;
  letter-spacing: 2px;
  line-height: 34px;
  font-weight: 700;
  margin-bottom: 150px;
  border: 1px solid #464646;
}
.subscribe_box_btn:hover {
  text-decoration: none;
  background-color: #333333;
  color: #cccccc;
  border: 1px solid #626262;
}
.subscribe_box input {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  background-color: #ffffff;
  font-size: 23px;
  letter-spacing: 2px;
  line-height: 34px;
  color: #464646;
  padding-left: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 20px;
  width: 535px;
  border: 1px solid #626262;
}

.footer {
  height: 410px;
  background-image: url("../img/footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #464646;
  padding-top: 145px;
}
.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-right img {
  margin-right: 40px;
  height: 150px;
}
.footer-right p {
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 29px;
  color: #ffffff;
  font-family: "Myriad Pro", sans-serif;
  margin-right: 20px;
}
.footer-left {
  margin-top: -10px;
  padding-left: 80px;
}
.footer-left a {
  padding-right: 40px;
}
.footer-left-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 0;
}
.footer-left-menu li {
  position: relative;
  color: #ffffff;
}
.footer-left-menu li:first-child {
  list-style: none;
}
.footer-left-menu li a {
  color: #ffffff;
  padding: 20px 30px 0 0;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 42px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 700;
}
.footer-left-menu li a:hover {
  text-decoration: none;
  color: #bfbfbf;
}

/* Адаптив для сайта */
.masthead {
  padding-top: 70px;
}

.welcome {
  margin-top: 40px;
}

.subscribe h2 {
  padding-top: 60px;
}
.subscribe_box_btn {
  margin-bottom: 100px;
}

.footer {
  height: 300px;
}
.footer-left {
  margin-top: -60px;
}
.footer-right {
  margin-top: -50px;
}

.footer {
  height: 410px;
}
.footer-right {
  margin-top: 20px;
  margin-left: 82px;
}
.footer-left {
  margin-top: -100px;
}

.top-nav_menu_right {
  margin-top: 30px;
  margin-left: 30px;
}

.welcome {
  margin-top: -10px;
}

.button {
  margin-top: -10px;
}

.top-right {
  margin-top: 20px;
  margin-bottom: -20px;
  margin-left: 30px;
}

.top-nav_menu_right {
  margin-left: 50px;
}

@media (max-width: 767px) {
  .top-nav_btn {
    display: block;
  }
  .top-nav_menu, .top-nav_menu_shell {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .top-nav_menu__active, .top-nav_menu_shell__active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
  .top-nav_menu li, .top-nav_menu_shell li {
    line-height: 2;
  }
  .top-nav_menu li a::after, .top-nav_menu_shell li a::after {
    display: none;
  }
}
