.shop-page_bg {
  background-color: #000000;
}

.shopPageWidth {
  max-width: 1500px;
}

h2, h3 {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 27px;
  color: #959595;
  padding: 40px 0 20px 20px;
}

.shopPage img:hover {
  cursor: pointer;
}
.shopPage img {
  margin-right: 25px;
  width: 350px;
  height: 350px;
}
.shopPage img:last-child {
  margin-right: 0;
}
.shopPage img:hover {
  -webkit-box-shadow: 0 0 15px 20px rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 15px 20px rgba(255, 255, 255, 0.15);
}
.shopPage_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
  pointer-events: none;
  margin-top: -100px;
}
.shopPage_text p {
  color: #ffffff;
}
.shopPage_text p:first-child {
  font-size: 42px;
  letter-spacing: 1px;
  line-height: 53px;
}
.shopPage_text p:nth-child(2) {
  font-size: 42px;
  letter-spacing: 1px;
  line-height: 53px;
  font-weight: 700;
  padding-left: 35px;
}

.postPageImg {
  padding-bottom: 30px;
}
