$header-bg: #000000
$body-bg: #fafafa
$body-bg-nav: #d0ced1
$body-bg-bottom: #d7d7d7
$body-bg-active: #ffc608
$body-menu: #ffffff
$text-white: #ffffff
$text-black: #000000
$text-orange: #ffc608
$bg-orange: #ffc608
$text-grey-header: #858585
$text-grey-nav: #626262
$text-grey-body: #464646
$button-color: #464646
$dark-green: #006400
$second-box-bg: #d7d7d7
$second-box-menu: #d0ced1
$second-box-border: #d8d8d8
$sponsors-bg: #d0d0d0
$gridColorMain: #d7d7d7
$artist-profile_top: #959595
$artist-profile_menu: #262626
$art-wall-orange: #fec608
$art-wall-grey: #acacac
$art-wall-imgbg: #646564
$art-wall-fourthBg: #1d1d1d
$artist-page-bg: #000000
$artist-page-Hr: #484848
$artist-page-text: #959595
$artist-page-bioBg: #252525
$artist-page-line: #585857
$profile-bg: #000000
$profile-sectionBg: #252525
$profile-orange: #ffc608
$profile-orange2: #f5be0a
$profile-textLeft: #a1a1a1
$profile-text: #959595
$profile-textareaBg: #111111
$post-bg: #000000
$print-top-bg: #000000
$print-bottom-bg: #000000
$breadcrumbs: #ffffff
$printShopBg: #333333
$printSize: #7d7d7d
$printSizeHover: #e1e1e1
$printInputUrl: #171717
$printInputText: #5d5d5d
$printReport: #969696
$printBg: #464646
$printFeatures: #898989
$payBg: #000000
$payTextGrey: #707070
$pay3_bg: #464646