/* Адаптив для сайта */
@media (max-width: 1600px)
.masthead
  padding-top: 70px

.welcome
  margin-top: 40px

.subscribe
  h2
    padding-top: 60px
  &_box
    &_btn
      margin-bottom: 100px

.footer
  height: 300px
  &-left
    margin-top: -60px
  &-right
    margin-top: -50px

.sponsors
  margin-top: 50px
  margin-bottom: 70px

  &_video

    h2
      margin-top: 30px

    &_image
      img
        margin-top: -15px
        width: 700px

@media (max-width: 1311px)
.footer
  height: 330px

@media (max-width: 1199px)
.top-nav_menu_right
  margin-top: 30px
  margin-left: 30px

.welcome
  margin-top: -10px

.button
  margin-top: -10px


@media (max-width: 1120px)


@media (max-width: 991px)
.top-right
  margin-top: 20px
  margin-bottom: -20px
  margin-left: 30px

.top-nav_menu_right
  margin-left: 50px


@media (max-width: 920px)


@media (max-width: 767px)
  .top-nav
    &_btn
      display: block

    &_menu, &_menu_shell
      flex-direction: column
      display: none

      &__active
        display: flex
        margin-bottom: 0

      li
        line-height: 2

        a
          &::after
            display: none

@media (max-width: 560px)


