@import "fonts"
@import "vars"
@import "colors"
@import "footer"


.bold
  font-weight: 700

.italic
  font-style: italic

.myriad
  font-family: $Myriad !important

.center
  text-align: center

body
  background-color: $body-bg !important
  margin: 0
  font-family: $Helvet !important

.masthead
  height: 100vh
  min-height: 700px
  background-image: url('../img/header.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  background-color: $header-bg
  padding-top: 50px

.top-right
  display: flex

  img
    height: 45px
    margin: 0 20px

  p
    color: $text-white
    font-weight: 700
    font-size: 17px
    letter-spacing: 2px
    line-height: 25px

  &-mail
    color: $text-grey-nav
    font-weight: 400

.top-nav
  font-size: 14px
  position: relative

  &-logo
    padding-left: 20px

  ul
    margin-bottom: 0

  &_btn
    display: none
    font-size: 20px
    width: 35px
    height: 35px
    background-color: transparent
    border: none
    position: absolute
    right: 15px
    top: -55px

    a:hover
      cursor: pointer

  &_menu
    list-style: none
    display: flex
    padding-left: 30px

    li
      margin-right: 55px
      position: relative

      &::after
        position: absolute
        content: ''
        display: block
        height: 20px
        border-left: 2px solid $text-white
        right: -26px
        bottom: 15px

      p
        font-size: 13px
        color: $text-grey-nav
        letter-spacing: 1px
        line-height: 25px
        margin-bottom: 0

      a
        text-transform: uppercase
        color: $text-orange
        text-decoration: none
        font-size: 13px
        letter-spacing: 1px
        line-height: 25px
        font-weight: 700

        &::after
          content: ''
          display: block
          width: 100%
          height: 2px
          background-color: $body-bg-active
          transform: translateY(5px) scale(0)
          transition: all 0.2s

        &:hover
          text-decoration: none
          color: darken($text-orange, 15%)

          &::after
            transform: translateY(25px) scale(1)

.top-nav_menu_right
  display: flex
  list-style: none
  padding-left: 0

  li
    margin-right: 20px

    &:last-child
      margin: 0

    &::before
      content: ""
      display: inline-block
      height: 100%
      vertical-align: middle

    a

      &::after
        content: ''
        display: block
        width: 100%
        height: 2px
        background-color: $body-bg-active
        transform: translateY(5px) scale(0)
        transition: all 0.2s

      &:hover
        text-decoration: none
        color: darken($text-orange, 15%)

        &::after
          transform: translateY(10px) scale(1)

.welcome
  color: $text-white
  font-size: 23px
  letter-spacing: 2px
  line-height: 95px
  margin-top: 15px

  &_label
    color: $text-white
    font-size: 53px
    letter-spacing: 1px
    line-height: 58px
    margin-top: -20px
    margin-bottom: 0
    font-weight: 800

    &_low
      color: $text-white
      font-size: 23px
      letter-spacing: 2px
      line-height: 65px


.line
  width: 100%
  background-color: $text-white
  border: none
  margin-top: 40px
  margin-bottom: 24px
  height: 1px

.button
  padding: 11px 44px
  display: inline-block
  background-color: $body-bg
  color: $text-black
  @include border-radius(25px)
  text-decoration: none
  transition: all 0.2s
  font-size: 17px
  letter-spacing: 2px
  line-height: 25px
  border: 3px solid $body-bg
  font-weight: 700

  &:hover
    text-decoration: none
    color: lighten($text-black, 20%)
    border: 2px solid $button-color

.search
  @include border-radius(25px)
  background-color: transparent
  font-size: 17px
  letter-spacing: 2px
  line-height: 25px
  color: $text-white
  padding-left: 15px
  border: 1px solid $body-bg

input
  outline: 0

input[type="search"]::-moz-placeholder
  color: $text-white

input[type="search"]::-webkit-input-placeholder
  color: $text-white

input[type="search"]:-ms-input-placeholder
  color: $text-white

input[type="search"]::-ms-input-placeholder
  color: $text-white

input[type="search"]::placeholder
  color: $text-white

.aboutText
  width: 954px
  height: 39px

.frontbar
  height: 360px
  margin-top: -120px

  &_menu
    display: flex
    list-style: none
    padding: 0

    li
      background-color: $body-menu
      height: 287px
      width: 355px
      transition: all 0.3s
      margin-top: 34px

      &:first-child
        border-radius: 25px 0 0 25px
        border-left: 1px solid $body-bg-nav
        border-top: 1px solid $body-bg-nav
        border-bottom: 1px solid $body-bg-nav
        /* box-shadow: $shadow-first */

      &:nth-child(2)
        border-top: 1px solid $body-bg-nav
        border-bottom: 1px solid $body-bg-nav
        /* box-shadow: $shadow-second */
        &::after
          position: relative
          content: ''
          display: block
          height: 116px
          border-left: 1px solid $dark-green
          border-right: 1px solid $dark-green
          bottom: 170px

      &:last-child
        border-right: 1px solid $body-bg-nav
        border-top: 1px solid $body-bg-nav
        border-bottom: 1px solid $body-bg-nav
        border-radius: 0 25px 25px 0
        /* box-shadow: $shadow-third */

      &:hover
        background-color: $body-bg-active
        @include border-radius(20px)
        @include box-shadow (0, 0, 25px, 30px, rgba(0, 0, 0, 0.25))
        height: 355px
        margin-top: 0
        p
          margin-top: -10px
        img
          margin-top: 74px
        a
          background-color: $body-menu
          color: $text-black
          margin-top: 37px

        &:nth-child(2)
          &::after
            display: none

      a
        background-color: $body-bg-active
        @include border-radius(25px)
        color: $text-white
        display: block
        padding: 5px 0
        margin: 37px 70px 20px 70px
        text-decoration: none
        text-transform: uppercase
        font-size: 15px
        letter-spacing: 2px
        line-height: 25px
        font-weight: 700
        &:hover
          text-decoration: none
          color: lighten($text-black, 20%)
          border: 1px solid $button-color

      p
        font-size: 13px
        letter-spacing: 1px
        line-height: 21px
        color: $text-grey-nav
        margin-top: -15px

    img
      height: 100px
      margin-top: 40px

.first-box
  margin-top: 100px

@import "media"