@import "fonts"
@import "vars"
@import "colors"
@import "footer"
@import "sponsors"
@import "artist_profile"

.center
  text-align: center

body
  background-color: $body-bg !important
  margin: 0
  font-family: $Helvet !important
  max-width: 1920px

.masthead
  height: 100vh
  min-height: 700px
  background-image: url('../img/header.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  background-color: $header-bg
  padding-top: 115px

.top-right
  display: flex
  margin-top: -17px

  img
    height: 45px
    margin: 0 20px

  p
    color: $text-white
    font-weight: 700
    font-size: 17px
    letter-spacing: 2px
    line-height: 25px

  &-mail
    color: $text-grey-nav
    font-weight: 400

.top-nav
  font-size: 14px
  position: relative

  &-logo
    padding-left: 45px

  ul
    margin-bottom: 0

  &_btn
    display: none
    font-size: 20px
    width: 52px
    height: 29px
    background-color: transparent
    border: none
    position: absolute
    right: 15px
    top: -245px

    img:hover
      cursor: pointer

  &_menu, &_menu_shell
    list-style: none
    display: flex
    padding-left: 0

    li
      margin-right: 14px
      position: relative
      width: 97px

      p
        font-size: 13px
        color: $text-grey-nav
        letter-spacing: 1px
        line-height: 25px
        margin-bottom: 0

      a
        text-transform: uppercase
        color: $text-orange
        text-decoration: none
        font-size: 13px
        letter-spacing: 1px
        line-height: 25px
        font-weight: 700

        &::after
          content: ''
          display: block
          width: 100%
          height: 2px
          background-color: $body-bg-active
          transform: translateY(5px) scale(0)
          transition: all 0.2s

        &:hover
          text-decoration: none
          color: darken($text-orange, 15%)

          &::after
            transform: translateY(25px) scale(1)

.top-nav_menu_shell
  margin-top: -3px
  li
    &::after
      position: absolute
      content: ''
      display: block
      height: 20px
      border-left: 2px solid $text-white
      right: -8px
      bottom: 15px

.top-nav_menu_right
  display: flex
  list-style: none
  padding-left: 0

  li
    margin-right: 20px

    &:last-child
      margin: 0

    &::before
      content: ""
      display: inline-block
      height: 100%
      vertical-align: middle

    a

      &::after
        content: ''
        display: block
        width: 100%
        height: 2px
        background-color: $body-bg-active
        transform: translateY(5px) scale(0)
        transition: all 0.2s

      &:hover
        text-decoration: none
        color: darken($text-orange, 15%)

        &::after
          transform: translateY(10px) scale(1)

.welcome
  color: $text-white
  font-size: 23px
  letter-spacing: 2px
  line-height: 95px
  margin-top: 65px

  &_label
    color: $text-white
    font-size: 53px
    letter-spacing: 1px
    line-height: 58px
    margin-top: -28px
    margin-bottom: 2px
    font-weight: 800

    &_low
      color: $text-white
      font-size: 23px
      letter-spacing: 2px
      line-height: 65px


.line
  width: 100%
  background-color: $text-white
  border: none
  margin-top: 40px
  margin-bottom: 15px
  height: 1px

.button
  padding: 4px 38px
  display: inline-block
  background-color: $body-bg
  color: $text-black
  @include border-radius(25px)
  text-decoration: none
  transition: all 0.2s
  font-size: 17px
  letter-spacing: 2px
  line-height: 25px
  border: 3px solid $body-bg
  font-weight: 700
  margin-top: 14px

  &:hover
    text-decoration: none
    color: lighten($text-black, 20%)
    border: 2px solid $button-color

.search
  @include border-radius(25px)
  background-color: transparent
  font-size: 17px
  letter-spacing: 2px
  line-height: 25px
  color: $text-white
  padding-left: 15px
  border: 1px solid $body-bg

input
  outline: 0

input[type="search"]::-moz-placeholder
  color: $text-white

input[type="search"]::-webkit-input-placeholder
  color: $text-white

input[type="search"]:-ms-input-placeholder
  color: $text-white

input[type="search"]::-ms-input-placeholder
  color: $text-white

input[type="search"]::placeholder
  color: $text-white

input[type="email"]::-moz-placeholder
  color: $button-color

input[type="email"]::-webkit-input-placeholder
  color: $button-color

input[type="email"]:-ms-input-placeholder
  color: $button-color

input[type="email"]::-ms-input-placeholder
  color: $button-color

input[type="email"]::placeholder
  color: $button-color

.aboutText
  width: 954px
  height: 39px

.frontbar
  height: 360px
  margin-top: -132px

  &_menu
    display: flex
    list-style: none
    padding: 0

    li
      background-color: $body-menu
      height: 287px
      width: 356px
      transition: all 0.3s
      margin-top: 34px

      &:first-child
        border-radius: 25px 0 0 25px
        border-left: 1px solid $body-bg-nav
        border-top: 1px solid $body-bg-nav
        border-bottom: 1px solid $body-bg-nav

      &:nth-child(2)
        border-top: 1px solid $body-bg-nav
        border-bottom: 1px solid $body-bg-nav

        &::after
          position: relative
          content: ''
          display: block
          height: 115px
          border-left: 1px solid $dark-green
          border-right: 1px solid $dark-green
          bottom: 175px

      &:last-child
        border-right: 1px solid $body-bg-nav
        border-top: 1px solid $body-bg-nav
        border-bottom: 1px solid $body-bg-nav
        border-radius: 0 25px 25px 0

      &:hover
        background-color: $body-bg-active
        @include border-radius(20px)
        @include box-shadow(0, 0, 25px, 30px, rgba(0, 0, 0, 0.25))
        height: 355px
        margin-top: 0

        p
          margin-top: -15px

        img
          margin-top: 85px

        a
          background-color: $body-menu
          color: $text-black
          margin-top: 37px

        &:nth-child(2)
          &::after
            display: none

      a
        background-color: $body-bg-active
        @include border-radius(25px)
        color: $text-white
        display: block
        padding: 5px 0
        margin: 37px 70px 20px 70px
        text-decoration: none
        text-transform: uppercase
        font-size: 15px
        letter-spacing: 2px
        line-height: 25px
        font-weight: 700

        &:hover
          text-decoration: none
          color: lighten($text-black, 20%)
          border: 1px solid $button-color

      p
        font-size: 13px
        letter-spacing: 1px
        line-height: 21px
        color: $text-grey-nav
        margin-top: -15px

    img
      height: 100px
      margin-top: 50px

.first-box
  margin-top: 125px

  h2
    font-size: 53px
    font-weight: 700
    letter-spacing: 3px
    line-height: 58px
    color: $text-black

  &_about
    font-size: 21px
    letter-spacing: 2px
    line-height: 29px
    color: $text-grey-body
    margin-top: 27px

  &_items
    display: flex
    margin-top: 68px

    p
      font-size: 21px
      font-weight: 700
      letter-spacing: 1px
      line-height: 23px
      color: $text-black
      margin-right: 200px

      &:last-child
        margin-right: 0

  &_points
    display: flex
    margin-top: 9px

    div
      height: 34px
      width: 34px
      margin-right: 275px
      background: radial-gradient(circle closest-side, $text-grey-body 8px, $body-bg 8px)
      @include border-radius(25px)
      border: 2px solid $text-grey-body

      &:nth-child(2)
        background: radial-gradient(circle closest-side, $body-bg-active 8px, $body-bg 8px)

      &:last-child
        margin-right: 0

  &_line
    width: 605px
    background-color: $text-grey-body
    border: none
    margin-top: -18px
    height: 2px
    position: relative
    z-index: -100

  &_text
    margin-top: 65px

    p
      width: 660px
      font-size: 21px
      letter-spacing: 2px
      line-height: 29px
      color: $text-grey-body
      padding-left: 25px

  &_image
    margin-top: 150px

    img
      @include border-radius(25px)
      @include box-shadow(0, 0, 25px, 30px, rgba(0, 0, 0, 0.25))

      &:nth-child(2)
        margin-top: -175px
        margin-left: -355px

      &:last-child
        margin-top: -60px
        margin-left: -345px

.second-box
  margin-top: 120px
  height: 234px
  background-image: url('../img/SecondBg.jpg')
  background-position: center
  background-repeat: no-repeat
  background-color: $second-box-bg

  h2
    font-size: 53px
    font-weight: 700
    letter-spacing: 3px
    line-height: 58px
    color: $text-black
    padding-top: 20px

  &_about
    font-size: 21px
    letter-spacing: 2px
    line-height: 29px
    color: $text-grey-body
    margin-top: 15px

  &_menu
    background-color: $second-box-menu

  &_bg
    background-color: $second-box-bg

  &_menu
    position: relative
    height: 86px
    list-style: none
    display: flex
    margin-bottom: 1px
    padding: 0

    li
      position: relative
      width: 159px

      a
        display: block
        height: 85px
        text-transform: uppercase
        color: $text-black
        text-decoration: none
        font-size: 19px
        letter-spacing: 1px
        line-height: 21px
        font-weight: 700
        padding-top: 32px

        &:hover
          background-color: $body-bg-active
          text-decoration: none
          text-shadow: 1px 1px 2px $text-white
          border: 2px solid $second-box-border

  &_image
    background-position: center
    background-repeat: no-repeat
    height: 438px

.subscribe
  background-color: $second-box-bg

  h2
    text-transform: uppercase
    font-size: 53px
    font-weight: 800
    letter-spacing: 3px
    line-height: 58px
    color: $text-black
    padding-top: 80px

  &_about
    font-size: 21px
    letter-spacing: 2px
    line-height: 29px
    color: $text-grey-body
    margin-top: 18px

  &_box
    padding-top: 20px
    background-color: $second-box-bg

    &_btn
      padding: 20px 55px
      display: inline-block
      background-color: $button-color
      color: $text-white
      @include border-radius(25px)
      text-decoration: none
      transition: all 0.2s
      font-size: 23px
      letter-spacing: 2px
      line-height: 34px
      font-weight: 700
      margin-bottom: 150px
      border: 1px solid $button-color

      &:hover
        text-decoration: none
        background-color: lighten($text-black, 20%)
        color: darken($text-white, 20%)
        border: 1px solid $text-grey-nav

    input
      @include border-radius(25px)
      background-color: $body-menu
      font-size: 23px
      letter-spacing: 2px
      line-height: 34px
      color: $button-color
      padding-left: 35px
      padding-top: 20px
      padding-bottom: 20px
      margin-right: 20px
      width: 535px
      border: 1px solid $text-grey-nav

.footer
  height: 410px
  background-image: url('../img/footer.png')
  background-position: center
  background-repeat: no-repeat
  background-color: #464646
  padding-top: 145px

  &-right
    display: flex

    img
      margin-right: 40px
      height: 150px

    p
      font-size: 21px
      letter-spacing: 1px
      line-height: 29px
      color: $text-white
      font-family: $Myriad
      margin-right: 20px

  &-left
    margin-top: -10px
    padding-left: 80px
    a
      padding-right: 40px

  &-left-menu
    position: relative
    display: flex
    padding: 20px 0 0

    li
      position: relative
      color: $text-white

      &:first-child
        list-style: none

      a
        color: $text-white
        padding: 20px 30px 0 0
        display: block
        text-transform: uppercase
        text-decoration: none
        font-size: 21px
        letter-spacing: 1px
        line-height: 42px
        font-family: $Myriad
        font-weight: 700

        &:hover
          text-decoration: none
          color: darken($text-white, 25%)

@import "media"