@import "colors"
@import "vars"

.sponsors
  margin-top: 155px
  margin-bottom: 170px

  &_line
    margin-bottom: 5px

  img
    @include border-radius(10px)
    height: 160px

  &_video
    background-color: $sponsors-bg
    padding-bottom: 122px

    h2
      margin-top: 87px
      font-size: 55px
      letter-spacing: 6px
      line-height: 77px
      color: $text-grey-body

    p
      margin-top: -95px
      vertical-align: middle
      font-size: 25px
      letter-spacing: 3px
      line-height: 35px
      color: $text-grey-body
      width: auto

    &_image
      img
        margin-top: -98px
        width: 870px
